/*
get out of here >:(
had very little time to write this
not enough to not hardcode certain things :(
 */

body {
    background: #22222A;
    color: #BDBDD3;
    font-family: 'Overpass Mono', monospace;
    /* font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif; */
    margin: 0;
}

h2 {
    margin: 2.5em 0 0;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 40px;
    color: #ffffff;
}

p {
    line-height: 1.9em;
}
#commented-out {
    /*a {*/
    /*color: #BDBDD3;*/
    /*}*/

    /*a:hover {*/
    /*color: #ffffff;*/
    /*}*/
}
.menu {
    background: #141419;
    border-right: 1px solid #626275;
    color: #ffffff;
    height: 70px;
    width: 100%;
    position: fixed;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.intro {
    height: auto;
    /*#transform: rotate(-90deg);*/
    /*#position: relative;*/
    /*#top: 140px;*/
    float: right;
}

#small {
    visibility: hidden;
}

.name, .occ {
    line-height: 70px;
    margin: 0;
    display:inline;
}

.occ {
    font-weight: 100;
    color: #626275;
}

.about {
    width: 50%;
    padding-top: 40px; /* was alll

    /*margin-left: 80px;

     */
}

.about p {
    margin-bottom: 20px;
}

*::selection {
    background: #141419;
}

.tab {
    top: 0;
    margin-right: 68px;
    border: none;
    border-top: 1px solid #22222A;
    height: 51px;
    width: 150px;
    /*width: 7.8125%;*/
    position: relative;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;

    font-size: 20px;
    text-align: left;
}

.tab:before, .tab:after {
    border: none;
    border-top: 1px solid #22222A;
    display: block;
    content: "";
    width: 100px;
    height: 50px;
    top: -1px;
    position: absolute;
    border-bottom: #ffffff;
}

.tab:after {
    right: -34px;
    transform: skewX(23deg);
    border-right: 1px solid #22222A;
    border-radius: 0 3px 0 0;
}

.tab:before {
    left: -34px;
    transform: skewX(-23deg);
    border-left: 1px solid #22222A;
    border-radius: 3px 0 0 0;
}


.tabbox {
    position: absolute;
    left: 150px;
    bottom: 0;
}

.tab {
    color: #BDBDD3;
    background: #626275;
    z-index: 0;
}
.tab:after, .tab:before {
    pointer-events: all;
    color: #BDBDD3;
    background: #626275;
    /*border-bottom: 1px solid #626275;*/
    z-index: -1;
}
.active.tab {
    color: #ffffff;
    background: #22222A;
    z-index: 1;
}
.active.tab:after, .active.tab:before {
    color: #ffffff;
    /*border-bottom: 1px solid #22222A;*/
    background: #22222A;

    position: absolute;
    z-index: -1;
}

*:focus {
    outline: 0;
}

.tab-name {
    position: relative;
    left: -21px;
}

.tabcontent {
    display: none;
    width: 100%;
}

#me {
    display: block;
}

.spacing {
    margin: 7.5em 0 0 6.5vw;
}

.blinking {
    border-right: .15em solid #ffffff; /* The typwriter cursor */

    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0em; /* Adjust as needed */
    animation:
            blink-caret .75s step-end infinite;
}
.padding {
    padding-left: 6.5vw;
}
.mobile {
    text-align: center;
    display: none;
    width: 100%;
    margin:0;
    background: #141419;
}
a {
    color: #ffffff;
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
}



.email:before {
    content: "joryc";
}

.email:after {
    content: "w@cs.washington.edu";
}

#nameB, #occB {
    display: block;
}

#nameB {
    font-size: 140pt;
}

#occB {
    font-size: 50pt;
    float: right;
}

#big-outer {
    height: 90vh;
    /*top: 0;*/
    /*bottom: 0;*/
    display: flex;
    /*height: 100%;*/
    /*width: 100%;*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#big {
    position: static;
    font-family: 'Poppins', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    z-index: 1;
}
#spc {
    height: 90%;
}


.mobileSpc {
    display: none;
}

.width {
    margin-left: 5%;
    margin-right: 5%;
}

/*1680p*/
@media (max-width: 1680px) {
    .tab {
        margin-right: 60px;
        height: 45px;
        width: 131px;
    }
    .tab:before, .tab:after {
        width: 108px;
        height: 45px;
    }
    .tab:before {
        left: -30px;
    }
    .tab:after {
        right: -30px;
    }
    .tabbox {
        left: 131px;
    }
    .tab-name {
        left: -18px;
    }
    .menu  {
        height: 61px;
    }
    .name, .occ {
        line-height: 61px;
    }
    .intro h3 {
        line-height: 61px;
    }
    #nameB {
        font-size: 123pt;
    }

    #occB {
        font-size: 44pt;
    }
}
/*1440p*/
@media (max-width: 1500px) {
    .tab {
        margin-right: 51px;
        height: 39px;
        width: 113px;
    }
    .tab:before, .tab:after {
        width: 75px;
        height: 38px;
    }
    .tab:before {
        left: -26px;
    }
    .tab:after {
        right: -26px;
    }
    .tabbox {
        left: 113px;
    }
    .tab-name {
        left: -16px;
    }
    .menu {
        height: 53px;
    }
    .name, .occ {
        line-height: 53px;
    }
    .intro h3 {
        line-height: 53px;
    }
    #nameB {
        font-size: 105pt;
    }
    #occB {
        font-size: 38pt;
    }
}
/*1280p*/
@media (max-width: 1350px) {
    .tab {
        margin-right: 45px;
        height: 34px;
        width: 100px;
    }
    .tab:before, .tab:after {
        width: 67px;
        height: 33px;
    }
    .tab:before {
        left: -23px;
    }
    .tab:after {
        right: -26px;
    }
    .tabbox {
        left: 50px;
    }
    .tab-name {
        left: -14px;
    }
    .menu {
        height: 47px;
    }
    .name, .occ {
        line-height: 47px;
    }
    .intro h3 {
        line-height: 47px;
    }
    #nameB {
        font-size: 98pt;
    }
    #occB {
        font-size: 33pt;
    }
}

#data {
    display: none;
    font-size: 1px;
}

/* ONLY TABS, NO NAME */
@media (max-width: 1199px) {
    .intro {
        display: none;
    }
    #data {
        font-size: 2px;
    }
    #me-tab {
        display: none;
    }
    #big {
        display:block;
    }
    #nameB {
        font-size: 58pt;
    }
    #occB {
        font-size: 21pt;
    }
    #spc {
        height: 50%;
    }
}

/* ONLY NAME, NO TABS */
@media (max-width: 800px) {
    .intro, .mobile, .tabcontent {
        display: block;
    }

    .tabbox {
        display: none;
    }

    .intro h3 {
        font-size: 4vw;
    }

    .spacing {
        margin: 5.5em 0 .5em 6.5vw;
    }

    #data {
        font-size: 3px;
    }

    #me, .menu {
        display: none;
    }

    #resume, #resume .spacing {
        padding-top: 0;
        margin-top: 0;
    }

    .blinking, .spacing {
        width:100%;
        text-align: center;
        display: block;
        margin: 0;
    }
    .mobileSpc {    display: block;
        height: 2em;
    }
    .tabcontent, h2, .name, .occ {
        padding: 0;
        margin: 0;
    }
    .name, .occ{
        float: none;
        display: inline-block;
     }
    .intro {
        float: none;
        display: block;
    }
}

#phone:before {
    content: '(509)';
}

#phone:after {
    content: '7231';
}

